{% load staticfiles %}
{% load place_extras %}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>Air Canary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="screen"/> 
    <link href="{% static "css/climacons-font.css" %}" rel="stylesheet" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style>
        * { color: #fff }
        .vcontainer { display: table !important; height: 100% }
        .vcontent { display: table-cell; vertical-align: middle; height: 100% }
        .rounded-border { border: 1px solid #60bd22; padding: 3px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
    </style>
</head>
<body style="background: #eee">


<div class="container" style="background: #fff">
    <div class="row" style="color: #333; padding: 10px">
        <div class="col-xs-3">
            <div style="text-align: center; color: #333; padding-top: 5px"><strong style="color: #333">Air</strong><span style="color: #60bd22">C</span><span style="color: #f4bd00">a</span><span style="color: #f69721">n<span style="color: #c44812">a<span style="color: #980046">r</span><span style="color: #7c0020">y</span></div>
        </div>
        <div class="col-xs-3" style="color: #333">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Choose location">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-search" style="color: #666"></span></button>
                </span>
            </div>
        </div>
        <div class="col-xs-6" style="color: #333; text-align: right; padding-top: 5px"><small style="color: #333">About</small></div>
    </div>
</div>

<div class="container">
    <div class="row {{ place.combined.css }}" style="padding: 20px 0 20px 0">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5" style="text-align: right">
                    <!-- Climacon -->
                    <span class="fs1 climacon {{ place.icon_class }}" style="font-size: 13em; padding-left: 20px; margin-bottom: -100px; display: inline-block" aria-hidden="true"></span>
                </div>
                <div class="col-xs-7" style="padding-top: 30px">
                    <!-- currently -->
                    <div style="text-align:right; color: #eee">Currently</div>
                    <div style="text-align: right; font-size: 1.8em">{{ place.name }}</div>
                    <div style="text-align: right">
                        <span style="font-size: 3em">{{ place.temperature }}&deg;</span>
                        <span style="font-size: 1.1em; width: 65px; display: inline-block; text-tranform: uppercase">{{ place.summary|space2br }}</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-5 vcontainer {{ place.combined.css }}-dark" style="padding: 5px; text-align: center">
                            <div class="vcontent">
                                <div>PM2.5 <span class="rounded-border">{{ place.pm25.value }}</span></div>
                            </div>
                        </div>
                        <div class="col-xs-5 vcontainer {{ place.combined.css }}-dark" style="padding: 5px; text-align: center">
                            <div class="vcontent">
                                <div>Ozone <span class="rounded-border">{{ place.ozone.value }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-top: 30px">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 {{ place.today.css }}-light" style="padding: 20px; text-align: center">Today</div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 {{ place.tomorrow.css }}-light" style="padding: 20px; text-align: center">Tomorrow</div>
            </div>
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6" style="padding-right: 0">
                    <div style="border: 1px solid #ccc; height: 17px; width: 92px; float: right">
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-green" data-toggle="tooltip" data-placement="top" title="Good"></div>
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-yellow" data-toggle="tooltip" data-placement="top" title="Moderate"></div>
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-orange" data-toggle="tooltip" data-placement="top" title="Unhealthy for Sensitive Groups"></div>
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-red" data-toggle="tooltip" data-placement="top" title="Unhealthy"></div>
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-purple" data-toggle="tooltip" data-placement="top" title="Very Unhealth"></div>
                        <div style="width: 15px; height: 15px; float: left" class="legend-box aqi-maroon" data-toggle="tooltip" data-placement="top" title="Hazardous"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function() {
    $('.legend-box').tooltip();
});
</script>

</body>
</html>
