{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>Air Canary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="screen"/> 
    <link href="{% static "css/climacons-font.css" %}" rel="stylesheet" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style>
        * { color: #fff }
        .vcontainer { display: table !important; height: 100% }
        .vcontent { display: table-cell; vertical-align: middle; height: 100% }
        .rounded-border { border: 1px solid #60bd22; padding: 3px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
    </style>
</head>
<body class="aqi-green" style="height: 100%">


<nav class="navbar navbar-default aqi-yellow" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div style="float: left; width: 25%">
                <div style="padding-left: 10px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse" style="float: left; border-width: 0">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color: #eee"></span>
                        <span class="icon-bar" style="background-color: #eee"></span>
                        <span class="icon-bar" style="background-color: #eee"></span>
                    </button>
                </div>
            </div>

            <div style="float: left; width: 50%; text-align: center"><a class="navbar-brand" href="#" style="width: 100%; font-size: 200%; color: #fff">AirCanary</a></div>

            <div style="float: left; width: 25%; text-align: right">
                <div style="float: right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search-navbar-collapse" style="border-width: 0; float: left">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-search" style="font-size: 150%"></span>
                    </button>
                </div>
            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="search-navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Api</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container" style="height: 89%">
    <div class="row aqi-yellow" style="height: 48%">
        <div class="col-xs-12">
            <div class="row" style="padding: 20px; color: #eee; font-size: 120%">Currently</div>
            <div class="row" style="padding: 0">
                <div class="col-xs-5"><span class="fs1 climacon cloud sun" style="font-size: 7em; padding-left: 20px" aria-hidden="true"></span></div>
                <div class="col-xs-7">
                    <div class="row">&nbsp;</div>
                    <div class="row" style="font-size: 120%">
                        <div class="col-xs-12 text-right">{{ place.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="text-right" style="font-size: 125%; padding-right: 0; padding-top: 5px; float: right; position:relative">{{ place.summary }}</div>
                            <div class="text-right" style="font-size: 250%; padding-right: 10px; float: right; position:relative">{{ place.temperature }}&deg;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #333; height: 12%">
        <div class="col-xs-12" style="height: 100%">
            <div class="row" style="height: 100%; font-size: 1.1em">
                <div class="col-xs-4 vcontainer">
                    <div class="vcontent">
                        <div>PM2.5 <span class="rounded-border">{{ place.pm25 }}</span></div>
                    </div>
                </div>
                <div class="col-xs-4 vcontainer">
                    <div class="vcontent">
                        <div>Ozone <span class="rounded-border">{{ place.ozone }}</span></div>
                    </div>
                </div>
                <div class="col-xs-4 text-right vcontainer">
                    <div class="vcontent">
                        <div style="display: inline-block; text-align: center">
                            <div><span class="glyphicon glyphicon-stats"></span></div>
                            <div style="margin-top: -5px"><span style="font-size: 90%">Details</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row aqi-red" style="height: 20%">
        <div class="col-xs-6 vcontainer">
            <div class="vcontent" style="font-size: 150%">Today</div>
        </div>
        <div class="col-xs-6 text-right vcontainer">
            <div class="vcontent">Unhealthy {{ place.today }}</div>
        </div>
    </div>
    <div class="row aqi-maroon" style="height: 20%">
        <div class="col-xs-6 vcontainer">
            <div class="vcontent" style="font-size: 150%">Tomorrow</div>
        </div>
        <div class="col-xs-6 text-right vcontainer">
            <div class="vcontent">Very Unhealthy {{ place.tomorrow }}</div>
        </div>
    </div>
</div>

</body>
</html>
