<div class="container">
    <div class="row">
            <div class="page-header">
                <h1>REST API v1</h1>
            </div>

            <p>The Air Canary REST API provides access to air quality data through HTTP REST requests.</p>

            <h2>Base URL</h2>

            <code>http://api.aircanary.com</code>

            <h2>Authentication</h2>

            <p>Currently no authentication is required.</p>

            <h2>Request Limit</h2>

            <p>API requests are limited to 1000 per day per IP address.</p>

            <h2>Site Resource</h2>

            <table class="table">
            <thead>
            <tr>
                <th>Request</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GET /site</td>
                <td>Get all sites</td>
            </tr>
            <tr>
                <td>GET /site/:code</td>
                <td>Get data for individual site</td>
            </tr>
            </tbody>
            </table>

            <h3>GET /site</h3>

            <p>Gets all sites</p>

            <code>GET http://api.aircanary.com/site</code>

            <p>Sample response:</p>

            <pre>
[
    {"code": "boxelder", "name": "Box Elder"},
    {"code": "cache", "name": "Cache"}, 
    {"code": "rs", "name": "Duchesne"},
    {"code": "p2", "name": "Price"},
    {"code": "slc", "name": "SLC/Davis"},
    {"code": "tooele", "name": "Tooele"},
    {"code": "vl", "name": "Uintah"},
    {"code": "utah", "name": "Utah"},
    {"code": "washington", "name": "Washington"},
    {"code": "weber", "name": "Weber"}
]
            </pre>


            <h3>GET /site/:code</h3>

            <p>Get data for single site</p>

            <code>GET http://api.aircanary.com/site/slc</code>

            <pre>
{
    "code": "slc",
    "data": [
        {
            "co": "",
            "wind_direction": 315.0,
            "observed": "2013-09-23 14:00:00",
            "nox": "",
            "pm25_24hr_avg": "",
            "solar_radiation": "",
            "no2": "",
            "wind_speed": 5.0,
            "ozone_8hr_avg": "",
            "temperature": 64.0,
            "ozone": 0.043,
            "relative_humidity": "",
            "pm25": 2.3
        }
    ],
    "name": "SLC/Davis",
    "forecast": [
        {
            "date": "2013-09-22",
            "color": "Green",
            "description": "Good",
            "published": "2013-09-23 21:15:03"
        },
        {
            "date": "2013-09-23",
            "color": "Green",
            "description": "Good",
            "published": "2013-09-23 21:15:03"
        },
        {
            "date": "2013-09-24",
            "color": "Green",
            "description": "Good",
            "published": "2013-09-23 21:15:03"
        }
    ]
}
    </div>
</div>
