<!DOCTYPE html>
<html ng-app="acApp">
<head>
    <title>Air Canary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link href="/static/css/main.css" rel="stylesheet" media="screen"/> 

    <style>
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
    </style>
</head>
<body>
    <div class="container" ng-controller="MainCntl" >
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <!--
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-left" style="padding: 5px"><img src="/static/img/canary1.png" style="width: 40px"/></div>
                <span class="navbar-brand">Air Canary</a>
            </div>
            -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="/static/img/canary1.png" style="width: 40px; padding-top: 5px"/>
                    </li>
                    <li>
                         <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Location" ng-model="location">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="sendLocation(location)">Submit</button>
                            <a href="/#/a/41/-111">a</a>
                        </form>
                    </li>
<!--
                    <li class="dropdown active">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="s in sites"><a href="/#/site/{[{s.code}]}">{[{s.name}]}</a></li>
                        </ul>
                    </li>
-->
                    <!--
                    <li><a href="/#/api">API</a></li>
-->
                </ul>
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/about">About</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                </ul>
                -->
            </div><!--/.nav-collapse -->
        </div>
        <div style="padding-top: 50px">
            <div ng-view>
                <div class="container">
                    <div style="height: 100vh; background: #fff; font-size: 24px; text-align: center; vertical-align: middle; color: #666; line-height: 100vh">Loading</div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">&copy; 2013</div>
                    <div class="col-xs-6 text-right"><a href="/#/api">API</a> - <a href="/#/about">About</a> - <a href="/#/contact">Contact</a></div>
                </div>
            </div>
        </footer>
    </div><!-- content -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/moment-timezone.min.js"></script>
    <script src="/static/js/moment-timezone-data.js"></script>
    <script src="/static/js/geoPosition.js"></script>
    <script src="/static/js/acng.js"></script>
</body>
</html>
