<!DOCTYPE html>
<html ng-app="acApp">
<head>
    <title>Air Canary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link href="/static/css/main.css" rel="stylesheet" media="screen"/> 
</head>
<body>
    <div class="container" ng-controller="MainCntl" >
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Air Canary</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="s in sites"><a href="/#/site/{[{s.code}]}">{[{s.name}]}</a></li>
                    </ul>
                </li>
                <li><a href="/#/api">API</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/about">About</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        <div style="padding-top: 50px">
            <div ng-view></div>
        </div>

        <footer>
            <div class="container">
                <div class="row">&copy; 2013</div>
            </div>
        </footer>
    </div><!-- content -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/acng.js"></script>
</body>
</html>
