<div style="height: 50vh" class="aqi-{[{ color }]} container">
    <div class="row" style="height: 75%">
        <div class="col-xs-4" style="vertical-align: middle; line-height: 30vh; text-align: right; font-size: 3vh">Combined</div>
        <div class="col-xs-4" style="font-size: 20vh; color: #fff; text-align: center">{[{ combined }]}</div>
        <div class="col-xs-4" style="vertical-align: middle; line-height: 30vh; font-size: 3vh">AQI</div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align: center; font-size: 5vh">SLC / Davis</div>
    </div>
</div>
<div style="height: 50vh">
    <div>Ozone: {[{ ozone }]}</div>
    <div>PM 2.5: {[{ pm25 }]}</div>
    <div>Combined: {[{ combined }]}</div>
    <div>Tomorrow: {[{ forecast_today }]}</div>
    <div>Today: {[{ forecast_today }]}</div>
    <div>{[{ label }]}</div>
</div>

<div style="height: 50vh">


</div>
