    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div style="float: right">  
                        <select class="form-control" name="code" id="code" ng-model="code" ng-options="s.code as s.name for s in sites"></select>
                    </div>
                    <h1>{[{ name }]}</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Air Quality Forecast</h2>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div ng-repeat="f in forecast" class="col-md-4" style="padding: 10px">
                                <div class="forecast-{[{ f.color|lowercase }]}" style="width: 100%; color: #fff">
                                    <div style="padding: 10px" class="row">
                                        <div class="col-md-6">{[{ f.date|date:'EEEE' }]}</div>
                                        <div class="col-md-6" style="text-align: right">{[{ f.description }]}</div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Particular Matter (PM2.5)<div class="pull-right">&micro;g/m<sup>3</sup></div></h2>
                    </div>
                    <div class="panel-body" style="overflow: scroll">
                        <sample-graph val="data" width="1040" height="300" type="pm25"></sample-graph>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Ozone<div class="pull-right">Parts Per Million (PPM)</h2>
                    </div>
                    <div class="panel-body" style="overflow: scroll">
                        <sample-graph val="data" width="1040" height="300" type="ozone"></sample-graph>
                    </div>
                </div>

                <h2>Data</h2>
                <div class="table-responsive">
                <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Observed</th>
                    <th>Ozone</th>
                    <th>Ozone 8-hour</th>
                    <th>PM 2.5</th>
                    <th>PM 2.5 24-hour</th>
                    <th>Nox</th>
                    <th>NO2</th>
                    <th>Temp</th>
                    <th>Humidity</th>
                    <th>Wind speed</th>
                    <th>CO</th>
                    <th>Solar Radiation</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{[{ d.observed | date:'short' }]}</td>
                        <td class="ozone">{[{ d.ozone }]}<span ng-show="d.ozone"> &micro;g/m<sup>3</sup></span></td>
                        <td>{[{ d.ozone_8hr_avg }]}<span ng-show="d.ozone_8hr_avg"> &micro;g/m<sup>3</sup></span></td>
                        <td class="pm25">{[{ d.pm25 }]}<span ng-show="d.pm25"> ppm</span></td>
                        <td>{[{ d.pm25_24hr_avg }]}<span ng-show="d.pm25_24hr_avg"> ppm</span></td>
                        <td>{[{ d.nox }]}<span ng-show="d.nox"> ppm</span></td>
                        <td>{[{ d.no2 }]}<span ng-show="d.no2"> ppm</span></td>
                        <td>{[{ d.temperature | number:0 }]}<span ng-show="d.temperature">&deg;</span></td>
                        <td>{[{ d.relative_humidity }]}<span ng-show="d.relative_humidity">%</span></td>
                        <td>{[{ d.wind_speed }]}<span ng-show="d.wind_speed"> mph {[{ d.wind_direction | dir }]}</span></td>
                        <td>{[{ d.co }]}</td>
                        <td>{[{ d.solar_radiation }]}</td>
                    </tr>
                </tbody>
                </table>
                </div><!-- table-responsive -->
            </div>
            <!--
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">PM 2.5 - &micro;g/m<sup>3</sup>- Past 24 hours</h2>
                    </div>
                    <div class="panel-body" style="overflow: scroll">
                        <sample-graph val="data" width="400" height="200" type="nox"></sample-graph>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
