.aqi-none {
    background-color: #ccc;
}

.aqi-none-light {
    background-color: #e6e6e6;
}

.aqi-none-dark {
    background-color: #b3b3b3;
}

.aqi-none-border {
    border-color: #ccc !important;
}

.aqi-green {
    background-color: #60bd22;
}

.aqi-green-border {
    border-color: #60bd22 !important;
}

.aqi-green-light {
    background-color: #7AD73C;
}

.aqi-green-dark {
    background-color: #47a409;
}

.aqi-yellow {
    background-color: #f4bd00;
}

.aqi-yellow-border {
    border-color: #f4bd00 !important;
}

.aqi-yellow-light {
    background-color: #ffd71a;
}

.aqi-yellow-dark {
    background-color:#DBA400;
}

.aqi-orange {
    background-color:#f69721;
    color:#FFFFFF;
}

.aqi-orange-border {
    border-color: #f69721 !important;
}


.aqi-orange-light {
    background-color:#ffb13b;
    color:#FFFFFF;
}

.aqi-orange-dark {
    background-color:#AB2F00;
    color:#FFFFFF;
}

.aqi-red {
    background-color:#c44812;
    color:#FFFFFF;
}

.aqi-red-border {
    border-color: #c44812 !important;
}

.aqi-red-light {
    background-color:#de622c;
    color:#FFFFFF;
}

.aqi-red-dark {
    background-color:#ab2f00;
    color:#FFFFFF;
}

.aqi-maroon {
    background-color:#980046;
    color:#FFFFFF;
}

.aqi-maroon-border {
    border-color: #980046 !important;
}

.aqi-maroon-light {
    background-color:#B21A60;
    color:#FFFFFF;
}

.aqi-maroon-dark {
    background-color:#7f002d;
    color:#FFFFFF;
}

.aqi-purple {
    background-color:#7c0020;
    color:#FFFFFF;
}

.aqi-purple-border {
    border-color: #7c0020 !important;
}

.aqi-purple-light {
    background-color:#961a3a;
    color:#FFFFFF;
}

.aqi-purple-dark {
    background-color:#63007;
    color:#FFFFFF;
}
