{% extends 'base.html' %}

{% block content %}
    <div class="container" ng-app="myApp" ng-controller="SiteCtrl" ng-init="init('{{site.code}}')">
        <div class="row">
            <section>
                <div class="page-header">
                    <div style="float: right">  
                        <select class="form-control" name="code" id="code" ng-model="code" ng-options="s.code as s.name for s in sites"></select>
                    </div>
                    <h1>{[{ name }]}</h1>
                </div>

                <h2>Forecast</h2>
                <div class="table-responsive">
                <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Published</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in forecast">
                    <td>{[{f.date}]}</td>
                    <td>{[{f.color}]}</td>
                    <td>{[{f.description}]}</td>
                    <td>{[{f.published}]}</td>
                </tr>
                </tbody>
                </table>
                </div><!-- table-responsive -->

                <h2>Data</h2>
                <div class="table-responsive">
                <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Observed</th>
                    <th>Ozone</th>
                    <th>Ozone 8-hour</th>
                    <th>PM 2.5</th>
                    <th>PM 2.5 24-hour</th>
                    <th>Nox</th>
                    <th>NO2</th>
                    <th>Temp</th>
                    <th>Humidity</th>
                    <th>Wind speed</th>
                    <th>Wind dir</th>
                    <th>CO</th>
                    <th>Solar Radiation</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{[{ d.observed | date:'short' }]}</td>
                        <td>{[{ d.ozone }]}</td>
                        <td>{[{ d.ozone_8hr_avg }]}</td>
                        <td>{[{ d.pm25 }]}</td>
                        <td>{[{ d.pm25_24hr_avg }]}</td>
                        <td>{[{ d.nox }]}</td>
                        <td>{[{ d.no2 }]}</td>
                        <td>{[{ d.temperature }]}</td>
                        <td>{[{ d.relative_humidity }]}</td>
                        <td>{[{ d.wind_speed }]}</td>
                        <td>{[{ d.wind_direction }]}</td>
                        <td>{[{ d.co }]}</td>
                        <td>{[{ d.solar_radiation }]}</td>
                    </tr>
                </tbody>
                </table>
                </div><!-- table-responsive -->

            </section>
        </div>
    </div>
{% endblock %}
