{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <section>
                <div class="page-header">
                    <h1>Air Quality Reporting Areas</h1>
                </div>
                <h2>Sites</h2>
                <table class="table">
                <thead>
                <tr>
                    <th>Site</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td><a href="/site/{{site.code}}">{{ site.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
