{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" ng-app="myApp">
            <section>
                <div class="page-header">
                    <div style="float: right">
                        <select name="code" id="code">
                            {% for s in sites %}
                                <option value="{{s.code}}"{% if s.code == site.code %} selected{% endif %}>{{s.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <h1>{{ site.name }}</h1>
                </div>
                <h2>Data</h2>
                <table class="table" ng-controller="SiteCtrl" ng-init="loadData('{{site.code}}')">
                <thead>
                <tr>
                    <th>Observed</th>
                    <th>Ozone</th>
                    <th>Ozone 8-hour</th>
                    <th>PM 2.5</th>
                    <th>PM 2.5 24-hour</th>
                    <th>Nox</th>
                    <th>NO2</th>
                    <th>Temp</th>
                    <th>Humidity</th>
                    <th>Wind speed</th>
                    <th>Wind dir</th>
                    <th>CO</th>
                    <th>Solar Radiation</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{[{ d.observed }]}</td>
                        <td>{[{ d.ozone }]}</td>
                        <td>{[{ d.ozone_8hr_avg }]}</td>
                        <td>{[{ d.pm25 }]}</td>
                        <td>{[{ d.pm25_24hr_avg }]}</td>
                        <td>{[{ d.nox }]}</td>
                        <td>{[{ d.no2 }]}</td>
                        <td>{[{ d.temperature }]}</td>
                        <td>{[{ d.relative_humidity }]}</td>
                        <td>{[{ d.wind_speed }]}</td>
                        <td>{[{ d.wind_direction }]}</td>
                        <td>{[{ d.co }]}</td>
                        <td>{[{ d.solar_radiation }]}</td>
                    </tr>
                </tbody>
                </table>

            </section>
        </div>
    </div>
{% endblock %}
